<footer th:fragment="footer" class="bg-gs text-center py-4">
    <div class="container">
        <!-- Social Links -->
        <div class="row justify-content-center">
            <div class="col-md-4 content-split social-links">
                <h5>Connect</h5>
                <a href="https://github.com/UnderscoreT" target="_blank" class="icon-link">
                    <!-- GitHub SVG icon -->
                </a>
                <a href="https://www.linkedin.com/in/obey-blessing-sibanda-b920b576" target="_blank" class="icon-link">
                    <!-- LinkedIn SVG icon -->
                </a>
            </div>
        </div>

        <!-- Navigation Links -->
        <div class="row justify-content-center mt-3">
            <div class="col-md-3 content-split">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/" class="footer-link">Home</a></li>
                    <li class="list-inline-item"><a href="/about" class="footer-link">About</a></li>
                    <li class="list-inline-item"><a href="/misc" class="footer-link">Misc</a></li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <p class="mb-0">© 2024 BlestCodeStudios. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
