<footer th:fragment="footer" class="bg-gs text-center py-4">
    <div class="footer-container">
        <!-- Social Links -->
        <div class="row justify-content-center">

            <a class="navbar-brand" href="#" th:href="@{/home}">
<!--                <img class="logo" th:src="@{/images/blestcode-sv&#45;&#45;tr.svg}" alt="Logo image" width="150" />-->

            </a>


            <ul class="social-links">

                <li>
                 <a  href="https://github.com/UnderscoreT" target="_blank" class="icon-link footer-link">
                    <ion-icon class="footer-socials-icon" name="logo-github"></ion-icon>
                </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/obey-blessing-sibanda-b920b576" target="_blank" class="icon-link footer-link">
                    
                    <ion-icon class="footer-socials-icon" name="logo-linkedin"></ion-icon>
                </a>
                </li>


            </ul>
                
            </div>
            
        </div>
        

        <!-- Navigation Links -->
        <div class="row justify-content-center mt-3">
            <div class="col-md-3 content-split">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="/" class="footer-link ">Home</a></li>
                    <li class="list-inline-item"><a href="/about" class="footer-link">About</a></li>
                    <li class="list-inline-item"><a href="/misc" class="footer-link">Misc</a></li>
                </ul>
            </div>
        </div>
        </div>

        <!-- Copyright -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-12">
                <p class="mb-0 copyright">© 2024 BlestCodeStudios. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
