<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
    <link href="/css/style.css" rel="stylesheet"/>
<!--    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>-->
    <script src="/js/jquery.min.js"></script>

    <script type="text/javascript" src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1">

    <!-- Open Graph (Facebook, LinkedIn) -->
    <meta property="og:title" content="Fulstack Java Developer">
    <meta property="og:description" content="Welcome to my little corner on the web ❤️ | Java Spring Developer
    ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://blestportfolio.onrender.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://blestportfolio.onrender.com/preview.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="Welcome to my little corner on the web  | Java Spring Developer |RHCSA">
    <meta name="twitter:title" content="Java Developer | Linux Administrator" >
    <meta name="twitter:description" content="Java Developer | OCP|Spring developer| Linux Administrator" >
    <meta name="twitter:image" content="https://blestportfolio.onrender.com/preview.png"> <!-- Optional -->





    <title>Obey Sibanda</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light navbar-fixed-top" th:fragment="header">
    <div class="container-fluid">

        <div><a class="navbar-brand" href="#" th:href="@{/home}">
            <img class="logo" th:src="@{/images/logo-for-blstcd-no-bg.png}" alt="Logo image" width="250" />

        </a></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_DEVELOPER')">
                    <a class="nav-link" href="#" th:href="@{/acp}">Database</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://sizafuel.xyz" target="_blank" rel="noopener noreferrer">Fuel Sales Calculator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://cashbreaker.sizafuel.xyz" target="_blank" >CashBreaker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/shop}">Blest Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/alpha}">Project Alpha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/certify}">JavaCertTool</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/misc}">Misc.</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row-reverse">
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a class="btn btn-primary" href="#" th:href="@{/logout}">Logout</a>
            </div>
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <a class=" btn--small" href="#" th:href="@{/register}">Register</a>
                <a class=" btn--small" href="#" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
