<!DOCTYPE html>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1G8YLT80Z9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1G8YLT80Z9');
</script>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="google-site-verification" content="-TF03KLMyZpdGW5vR0eCQzUVaVVKdfr7gRJnTT1YvC4" />
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/sidebar.css" rel="stylesheet"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>ObeyBlessingStudios | Home</title>
</head>
<body class="bg-gs">
<svg th:replace="~{fragments/svg::svg}"></svg>
<div th:replace="~{fragments/header::header}"></div>
<div class="wrapper fix-dt">
<!--     <aside class="col-md-3 d-none d-md-block" th:replace="~{fragments/sidebars/_sidebar_main::sidebar}"></aside> -->
    <!-- Content section -->
    <div class="content px-4 text-center">
        <!-- Using a container for Flexbox alignment -->

        <!-- <img src="../static/images/trans.webp" class="img-fluid" th:src="@{images/trans.webp}" alt="Logo"> -->
        <div class="col-lg-6 mx-auto">  <p class="welcome">Welcome to <em>BlestCodeStudios</em></p>


        </div>

        <div class="video-text-wrapper">
            <div class="ratio ratio-16x9 video-container">
                <iframe width="420" height="100%" src="https://www.youtube.com/embed/qLI0jSaBvn4" title="About Me | Obey" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="text-section col-lg-6 mx-auto">
                <p>
                    Hello, I'm Obey Blessing Sibanda, the creator of this forum. I am a Java developer and Linux systems administrator, certified by Oracle and Redhat. This diverse background enables me to appreciate systems holistically—from both development and infrastructure perspectives.

                    I am passionate about continuously learning and growing my skills, with the goal of becoming a full-stack Java developer. Writing clean, efficient code is at the heart of what I do. I take pride in leveraging the language’s features to deliver scalable, robust applications that run seamlessly.

                    When I'm not coding, you'll likely find me at the gym or out in nature. I firmly believe that with focus and determination, nothing is impossible.

                </p>
            </div>
        </div>

        <div class="java-cert">

            <h3>Java Certification</h3>
            <p >
                View my certification badge below, which I acquired  on the
                14th of August 2023.
            </p>
            <a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=A38FA5B2AA2CBC83265B462B085FCD59EF59F3DBEE1833771074122556370A22" target="_blank">
                <img th:src="@{/images/OCPJSE11.png}" alt="Java Certification Badge" width="150" height="150"/>

            </a>
        </div>

      <section class="skills">



            <div class="backend">

                <h3>BACKEND</h3>
                <ul class="skill-list">
                    
                    <li>Java</li>
                    <li>Spring Boot</li>
                    <li>JPA</li>
                    <li>MySQL</li>
                    <li>Docker</li>
                    <li>AWS</li>
                    <li>OpenShift</li>
                    <li>Keycloak</li>
                    <li>Okta</li>
                    <li>Kubernetes</li>
                    <li>GitLab CI</li>
                    <li>Linux</li>
                    
                    
                </ul>
            </div>
            <div class="frontend">

                <h3>FRONTEND</h3>
                <ul class="skill-list">
                    <li>JavaScript</li>
                    <li>React </li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>ThymeLeaf</li>
                    
                </ul>
            </div>
            
            <div class="architecture">
                <h3>SOFTWARE ARCHITECTURE</h3>
                <ul class="skill-list">
                    <li>Microservices Architecture</li>
                    <li>Event-driven Architecture</li>
                    <li>Multitier Architecture</li>
                    <li>Clean Architecture</li>
                    <li>SOLID Principles</li>
                    <li>Clean Code</li>
                    
                </ul>

            </div>
      </section>


        <section class="projects">
            <h2>Projects</h2>

            <div class="sizfuel-project">

         <h3>Sizafuel</h3>
            <p class="sizafuel-project-text">A Spring Boot web app that calculated and logs daily fuel sales for service stations.
            Check out live link<a href="https://sizafuel.xyz" class="sizafuel-link">here</a>
               Try out the user registration <a href="https://sizafuel.xyz/api/v1/registration/newuser" class="sizafuel-link">here</a>

            </p>
                <a href="/https://github.com/UnderscoreT">Source code</a>
            </div>
        </section>

    </div>
</div>
<p class="stand-alone-text">Check the navigation on this page for some of the projects that I have worked on and
                the code will be available on my GitHub  page</p>

                
            <!-- Insert the footer -->
            <div class="footer-frag" th:replace="fragments/footer :: footer"></div>
       


<!--<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>-->
<script src="/js/jquery.min.js"></script>

<script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>
